body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    color: #333; 
    text-align: justify;
    padding: 20px;
    background-image: url(pic.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}
.background{
    filter: blur(22px);
}
    
.container {
    padding: 20px;
    width: 650px;
    margin-top: 80px;
    max-width: 600px;
    background-color: #c06c84;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.question p {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: white; 
}

input[type="radio"] {
    margin-right: 10px;
}
.options{
    margin-bottom: 20px;
}
.options{
    display: block;
    margin-bottom: 10px;
}
.button {
    display: block;
    width: 100%;
    padding: 15px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    transition: background 0.3s ease;
}

.button:hover {
    background: #218838;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white; 
}
.hide{
    display: none;
}